/* 字体 */
@font-face {
	font-family: "almmsht";
	src: url("@/assets/font/AlimamaShuHeiTi.ttf");
}
@font-face {
	font-family: "nscjkblack";
	src: url("@/assets/font/NotoSansCJKBlack.otf");
}
@font-face {
	font-family: "ybtth";
	src: url("@/assets/font/YousheBiaoTiHei.ttf");
}
@font-face {
	font-family: "shsn";
	src: url("@/assets/font/SHS-n.TTF");
}
@font-face {
	font-family: "shsm";
	src: url("@/assets/font/SHS-M.TTF");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#app {
	width: 100%;
	max-width: 100%;
	min-height: 100svh;
	box-sizing: border-box;
}
